<h1>About us</h1>
<p>We buy second hand designer furniture. Some of them are still new with receipts and packaging in tact, some are used. When necessary we correct little damages and signs of usage so that they are as good as new en give them a new life. This is why some of them are more affordable then others. A perfect option for those with good taste but low budget.</p>
