<div class="container-fluid" id="contact" >
  <div class="header">
  <h1>Contact us</h1>
  <h3>If you have a question for us about our products or if you want to make a special order let us know!</h3>
  </div><!-- end header -->
  <%= render 'static_pages/contact' %>
</div>
