<div class="panel panel-default">
  <div class="panel-body">
    <p>Thank you for your message, we appreciate your interest and will respond as soon as possible.</p>
  </div><!-- / panel-body -->
</div><!-- / panel -->