<div class="panel panel-default" id="thank_you">
  <div class="panel-body">
    <p>Thank you for your message, we appreciate your interest and will respond as soon as possible.</p>
    <%= image_tag("thank_you.jpg", class: "img-responsive") %>
    <%= link_to 'Back', static_pages_index_url %>
  </div><!-- / panel-body -->
</div><!-- / panel -->