<footer class="footer">
	<div class="container">
		<div class="col-xs-12 col-lg-12">&copy; 2016 Interior Design Again </div>
		<div class="col-xs-12 col-lg-12 icons"><%= image_tag("fb_icon.png", size: "25x25") %><%= image_tag("pinterest_icon.png", size: "25x25") %></div> 
  </div>
</footer>